h1 {
  text-align: center;
}

p {
  background-color: #00dddd;
}

span {
  font-style: oblique;
}

.inputMe {
  width: 300px;
}

.commentDiv {
  border: 1px solid #999999;
  padding-top: 2px;
  margin: 10px;
}
